[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
pypdf = "*"
pytest = "*"
flask = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
